# Exploring Alpha Vantage API

### Imports- **Run First**

In [1]:
#open file with your API key
with open('api_key.txt') as file:
    API_key = file.read()
API_key = API_key.strip()

In [2]:
#import libraries
from alpha_vantage.timeseries import TimeSeries

import requests
from bs4 import BeautifulSoup

import pandas as pd
import io

In [3]:
#build TimeSeries variable from Alpha Vantage API
ts1 = TimeSeries(key = API_key)

### How to put stock data into a DataFrame

#### Requests Method

In [17]:
#get weekly stock data of Apple in DataFrame format
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=IBM&apikey=' + str(API_key) + '&datatype=csv'
r = requests.get(url)
data = pd.read_csv(io.StringIO(r.content.decode('utf-8')))

print(data)

      timestamp    open      high     low   close     volume
0    2023-08-22  144.25  146.5000  139.76  141.49   62683920
1    2023-07-31  133.42  144.6050  131.55  144.18   85778938
2    2023-06-30  128.44  139.4690  127.78  133.81  100722016
3    2023-05-31  126.35  130.0699  120.55  128.59   95710890
4    2023-04-28  130.97  132.6100  124.56  126.41   83664114
..          ...     ...       ...     ...     ...        ...
280  2000-04-28  120.00  128.0000  101.25  111.50  168464800
281  2000-03-31  102.00  128.2500   99.50  118.37  194329000
282  2000-02-29  112.37  119.7500  100.94  102.75  133524400
283  2000-01-31  112.44  124.7500  109.62  112.25  175259600
284  1999-12-31  102.56  122.1200  102.25  107.87  158626300

[285 rows x 6 columns]

In [18]:
#get head of data
data.head(10)

    timestamp    open      high      low   close     volume
0  2023-08-22  144.25  146.5000  139.760  141.49   62683920
1  2023-07-31  133.42  144.6050  131.550  144.18   85778938
2  2023-06-30  128.44  139.4690  127.780  133.81  100722016
3  2023-05-31  126.35  130.0699  120.550  128.59   95710890
4  2023-04-28  130.97  132.6100  124.560  126.41   83664114
5  2023-03-31  128.90  131.4800  121.710  131.09  138093084
6  2023-02-28  134.49  137.3900  128.860  129.30   76080679
7  2023-01-31  141.10  147.1800  132.980  134.73  105576019
8  2022-12-30  149.98  153.2100  137.195  140.89   86426226
9  2022-11-30  138.25  150.4600  133.970  148.90   93620235

#### Python Package Method

In [19]:
#store Apple stock intraday data in data and meta_data variables
apple1, meta_data = ts1.get_intraday("AAPL")

In [20]:
#print meta_data
meta_data

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
 '2. Symbol': 'AAPL',
 '3. Last Refreshed': '2023-08-22 19:45:00',
 '4. Interval': '15min',
 '5. Output Size': 'Compact',
 '6. Time Zone': 'US/Eastern'}

In [21]:
#print data
apple1

{'2023-08-22 19:45:00': {'1. open': '177.0800',
  '2. high': '177.0800',
  '3. low': '177.0000',
  '4. close': '177.0050',
  '5. volume': '10519'},
 '2023-08-22 19:30:00': {'1. open': '177.0900',
  '2. high': '177.1500',
  '3. low': '177.0300',
  '4. close': '177.0700',
  '5. volume': '3314'},
 '2023-08-22 19:15:00': {'1. open': '177.0600',
  '2. high': '177.1200',
  '3. low': '177.0400',
  '4. close': '177.0950',
  '5. volume': '1646'},
 '2023-08-22 19:00:00': {'1. open': '177.0950',
  '2. high': '177.1600',
  '3. low': '177.0300',
  '4. close': '177.0700',
  '5. volume': '1110'},
 '2023-08-22 18:45:00': {'1. open': '177.1750',
  '2. high': '177.1900',
  '3. low': '177.0950',
  '4. close': '177.1000',
  '5. volume': '8157'},
 '2023-08-22 18:30:00': {'1. open': '177.2200',
  '2. high': '177.2500',
  '3. low': '177.1600',
  '4. close': '177.1750',
  '5. volume': '2638'},
 '2023-08-22 18:15:00': {'1. open': '177.1900',
  '2. high': '177.2500',
  '3. low': '177.1500',
  '4. close': '177.2350',
  '5. volume': '17448'},
 '2023-08-22 18:00:00': {'1. open': '177.0600',
  '2. high': '178.9670',
  '3. low': '177.0500',
  '4. close': '177.1800',
  '5. volume': '4449'},
 '2023-08-22 17:45:00': {'1. open': '177.0600',
  '2. high': '178.9670',
  '3. low': '177.0300',
  '4. close': '177.0700',
  '5. volume': '3658'},
 '2023-08-22 17:30:00': {'1. open': '177.1200',
  '2. high': '177.1500',
  '3. low': '177.0400',
  '4. close': '177.0700',
  '5. volume': '4533'},
 '2023-08-22 17:15:00': {'1. open': '177.1250',
  '2. high': '184.1270',
  '3. low': '177.0700',
  '4. close': '177.1100',
  '5. volume': '1865'},
 '2023-08-22 17:00:00': {'1. open': '177.0750',
  '2. high': '177.1600',
  '3. low': '167.0030',
  '4. close': '177.1600',
  '5. volume': '8063'},
 '2023-08-22 16:45:00': {'1. open': '177.0700',
  '2. high': '177.2300',
  '3. low': '177.0300',
  '4. close': '177.0750',
  '5. volume': '574490'},
 '2023-08-22 16:30:00': {'1. open': '177.0650',
  '2. high': '177.2300',
  '3. low': '177.0100',
  '4. close': '177.0700',
  '5. volume': '58669'},
 '2023-08-22 16:15:00': {'1. open': '177.2300',
  '2. high': '177.2300',
  '3. low': '172.1450',
  '4. close': '177.0650',
  '5. volume': '19747'},
 '2023-08-22 16:00:00': {'1. open': '177.2100',
  '2. high': '177.3200',
  '3. low': '177.1000',
  '4. close': '177.1500',
  '5. volume': '9002485'},
 '2023-08-22 15:45:00': {'1. open': '177.1500',
  '2. high': '177.4600',
  '3. low': '177.0800',
  '4. close': '177.2200',
  '5. volume': '3439084'},
 '2023-08-22 15:30:00': {'1. open': '177.3100',
  '2. high': '177.3600',
  '3. low': '177.0800',
  '4. close': '177.1550',
  '5. volume': '1391703'},
 '2023-08-22 15:15:00': {'1. open': '177.6400',
  '2. high': '177.6800',
  '3. low': '177.2200',
  '4. close': '177.3100',
  '5. volume': '1384548'},
 '2023-08-22 15:00:00': {'1. open': '177.3600',
  '2. high': '177.6400',
  '3. low': '177.2990',
  '4. close': '177.6300',
  '5. volume': '1169231'},
 '2023-08-22 14:45:00': {'1. open': '177.1100',
  '2. high': '177.3700',
  '3. low': '177.0300',
  '4. close': '177.3550',
  '5. volume': '887538'},
 '2023-08-22 14:30:00': {'1. open': '177.2200',
  '2. high': '177.3300',
  '3. low': '177.0200',
  '4. close': '177.0950',
  '5. volume': '753780'},
 '2023-08-22 14:15:00': {'1. open': '176.9950',
  '2. high': '177.2500',
  '3. low': '176.8800',
  '4. close': '177.2150',
  '5. volume': '667243'},
 '2023-08-22 14:00:00': {'1. open': '177.0600',
  '2. high': '177.2200',
  '3. low': '176.8400',
  '4. close': '176.9900',
  '5. volume': '858633'},
 '2023-08-22 13:45:00': {'1. open': '176.9700',
  '2. high': '177.1000',
  '3. low': '176.8030',
  '4. close': '177.0600',
  '5. volume': '781757'},
 '2023-08-22 13:30:00': {'1. open': '177.1300',
  '2. high': '177.2550',
  '3. low': '176.8850',
  '4. close': '176.9800',
  '5. volume': '890938'},
 '2023-08-22 13:15:00': {'1. open': '177.0050',
  '2. high': '177.2450',
  '3. low': '176.8300',
  '4. close': '177.1300',
  '5. volume': '907308'},
 '2023-08-22 13:00:00': {'1. open': '177.0200',
  '2. high': '177.1400',
  '3. low': '176.7700',
  '4. close': '177.0010',
  '5. volume': '1145552'},
 '2023-08-22 12:45:00': {'1. open': '177.2850',
  '2. high': '177.3800',
  '3. low': '177.0150',
  '4. close': '177.0300',
  '5. volume': '949567'},
 '2023-08-22 12:30:00': {'1. open': '176.8300',
  '2. high': '177.3400',
  '3. low': '176.8200',
  '4. close': '177.2800',
  '5. volume': '1127020'},
 '2023-08-22 12:15:00': {'1. open': '176.3900',
  '2. high': '176.8500',
  '3. low': '176.2700',
  '4. close': '176.8140',
  '5. volume': '1027548'},
 '2023-08-22 12:00:00': {'1. open': '176.7200',
  '2. high': '176.7900',
  '3. low': '176.3710',
  '4. close': '176.3850',
  '5. volume': '988304'},
 '2023-08-22 11:45:00': {'1. open': '176.8050',
  '2. high': '177.0100',
  '3. low': '176.5800',
  '4. close': '176.7120',
  '5. volume': '984165'},
 '2023-08-22 11:30:00': {'1. open': '177.2300',
  '2. high': '177.3200',
  '3. low': '176.7700',
  '4. close': '176.7920',
  '5. volume': '1127556'},
 '2023-08-22 11:15:00': {'1. open': '176.9000',
  '2. high': '177.3250',
  '3. low': '176.7600',
  '4. close': '177.2150',
  '5. volume': '1124490'},
 '2023-08-22 11:00:00': {'1. open': '177.2100',
  '2. high': '177.4300',
  '3. low': '176.9200',
  '4. close': '176.9200',
  '5. volume': '1809786'},
 '2023-08-22 10:45:00': {'1. open': '176.6800',
  '2. high': '177.3170',
  '3. low': '176.6000',
  '4. close': '177.2050',
  '5. volume': '1823263'},
 '2023-08-22 10:30:00': {'1. open': '176.9230',
  '2. high': '176.9800',
  '3. low': '176.2600',
  '4. close': '176.6700',
  '5. volume': '2066036'},
 '2023-08-22 10:15:00': {'1. open': '176.9800',
  '2. high': '177.0900',
  '3. low': '176.6400',
  '4. close': '176.9300',
  '5. volume': '1400222'},
 '2023-08-22 10:00:00': {'1. open': '176.5950',
  '2. high': '177.0770',
  '3. low': '176.3300',
  '4. close': '176.9800',
  '5. volume': '1460763'},
 '2023-08-22 09:45:00': {'1. open': '176.5500',
  '2. high': '176.9300',
  '3. low': '176.3200',
  '4. close': '176.6000',
  '5. volume': '1833881'},
 '2023-08-22 09:30:00': {'1. open': '177.0600',
  '2. high': '177.0850',
  '3. low': '176.2500',
  '4. close': '176.5600',
  '5. volume': '3420247'},
 '2023-08-22 09:15:00': {'1. open': '176.8400',
  '2. high': '177.2400',
  '3. low': '176.7000',
  '4. close': '177.0700',
  '5. volume': '117283'},
 '2023-08-22 09:00:00': {'1. open': '176.8100',
  '2. high': '177.0000',
  '3. low': '176.7900',
  '4. close': '176.8300',
  '5. volume': '37250'},
 '2023-08-22 08:45:00': {'1. open': '176.9100',
  '2. high': '177.0900',
  '3. low': '176.7700',
  '4. close': '176.8100',
  '5. volume': '50468'},
 '2023-08-22 08:30:00': {'1. open': '177.0000',
  '2. high': '177.2000',
  '3. low': '175.8400',
  '4. close': '176.9100',
  '5. volume': '99444'},
 '2023-08-22 08:15:00': {'1. open': '177.0000',
  '2. high': '177.0600',
  '3. low': '176.9000',
  '4. close': '176.9850',
  '5. volume': '47723'},
 '2023-08-22 08:00:00': {'1. open': '176.7400',
  '2. high': '177.1500',
  '3. low': '175.8400',
  '4. close': '177.0100',
  '5. volume': '148951'},
 '2023-08-22 07:45:00': {'1. open': '176.8700',
  '2. high': '177.0500',
  '3. low': '176.8700',
  '4. close': '176.9700',
  '5. volume': '27611'},
 '2023-08-22 07:30:00': {'1. open': '176.7000',
  '2. high': '176.8800',
  '3. low': '176.6800',
  '4. close': '176.8800',
  '5. volume': '18964'},
 '2023-08-22 07:15:00': {'1. open': '176.7100',
  '2. high': '176.8000',
  '3. low': '176.5500',
  '4. close': '176.6900',
  '5. volume': '27517'},
 '2023-08-22 07:00:00': {'1. open': '176.7600',
  '2. high': '176.8100',
  '3. low': '176.5900',
  '4. close': '176.7300',
  '5. volume': '29089'},
 '2023-08-22 06:45:00': {'1. open': '176.8700',
  '2. high': '176.8800',
  '3. low': '176.6800',
  '4. close': '176.8000',
  '5. volume': '10516'},
 '2023-08-22 06:30:00': {'1. open': '176.8500',
  '2. high': '176.9200',
  '3. low': '176.7500',
  '4. close': '176.8700',
  '5. volume': '5807'},
 '2023-08-22 06:15:00': {'1. open': '176.8000',
  '2. high': '176.9000',
  '3. low': '176.7800',
  '4. close': '176.8500',
  '5. volume': '9092'},
 '2023-08-22 06:00:00': {'1. open': '176.7400',
  '2. high': '176.8700',
  '3. low': '176.7300',
  '4. close': '176.8000',
  '5. volume': '6744'},
 '2023-08-22 05:45:00': {'1. open': '176.6900',
  '2. high': '176.8000',
  '3. low': '176.6700',
  '4. close': '176.7400',
  '5. volume': '17064'},
 '2023-08-22 05:30:00': {'1. open': '176.6200',
  '2. high': '176.7500',
  '3. low': '176.6100',
  '4. close': '176.6900',
  '5. volume': '8037'},
 '2023-08-22 05:15:00': {'1. open': '176.5600',
  '2. high': '176.6500',
  '3. low': '176.4800',
  '4. close': '176.6100',
  '5. volume': '7889'},
 '2023-08-22 05:00:00': {'1. open': '176.7000',
  '2. high': '176.7000',
  '3. low': '176.2800',
  '4. close': '176.5600',
  '5. volume': '8887'},
 '2023-08-22 04:45:00': {'1. open': '176.7900',
  '2. high': '176.8500',
  '3. low': '176.6000',
  '4. close': '176.7000',
  '5. volume': '10054'},
 '2023-08-22 04:30:00': {'1. open': '176.5500',
  '2. high': '176.7800',
  '3. low': '176.4800',
  '4. close': '176.7800',
  '5. volume': '10937'},
 '2023-08-22 04:15:00': {'1. open': '176.6300',
  '2. high': '176.7000',
  '3. low': '176.4900',
  '4. close': '176.5000',
  '5. volume': '12122'},
 '2023-08-22 04:00:00': {'1. open': '176.0100',
  '2. high': '176.6900',
  '3. low': '176.0100',
  '4. close': '176.6500',
  '5. volume': '13790'},
 '2023-08-21 19:45:00': {'1. open': '175.5200',
  '2. high': '175.6200',
  '3. low': '175.4000',
  '4. close': '175.4000',
  '5. volume': '17325'},
 '2023-08-21 19:30:00': {'1. open': '175.5300',
  '2. high': '175.6200',
  '3. low': '175.5100',
  '4. close': '175.5100',
  '5. volume': '12852'},
 '2023-08-21 19:15:00': {'1. open': '175.5000',
  '2. high': '175.5500',
  '3. low': '175.5000',
  '4. close': '175.5400',
  '5. volume': '8828'},
 '2023-08-21 19:00:00': {'1. open': '175.5500',
  '2. high': '175.5500',
  '3. low': '175.5000',
  '4. close': '175.5100',
  '5. volume': '5743'},
 '2023-08-21 18:45:00': {'1. open': '175.5300',
  '2. high': '175.5500',
  '3. low': '175.5000',
  '4. close': '175.5500',
  '5. volume': '4449'},
 '2023-08-21 18:30:00': {'1. open': '175.5600',
  '2. high': '175.6000',
  '3. low': '175.5000',
  '4. close': '175.5400',
  '5. volume': '13459'},
 '2023-08-21 18:15:00': {'1. open': '175.5400',
  '2. high': '175.5700',
  '3. low': '175.5000',
  '4. close': '175.5550',
  '5. volume': '7695'},
 '2023-08-21 18:00:00': {'1. open': '175.5750',
  '2. high': '175.6000',
  '3. low': '175.4800',
  '4. close': '175.5350',
  '5. volume': '14545'},
 '2023-08-21 17:45:00': {'1. open': '175.5400',
  '2. high': '175.6000',
  '3. low': '175.5400',
  '4. close': '175.6000',
  '5. volume': '4049'},
 '2023-08-21 17:30:00': {'1. open': '175.6300',
  '2. high': '175.6300',
  '3. low': '175.5400',
  '4. close': '175.5800',
  '5. volume': '3952'},
 '2023-08-21 17:15:00': {'1. open': '175.6200',
  '2. high': '175.6400',
  '3. low': '175.4790',
  '4. close': '175.5400',
  '5. volume': '10015'},
 '2023-08-21 17:00:00': {'1. open': '175.5300',
  '2. high': '182.6060',
  '3. low': '175.5100',
  '4. close': '175.6400',
  '5. volume': '8703'},
 '2023-08-21 16:45:00': {'1. open': '175.5600',
  '2. high': '178.9670',
  '3. low': '175.5100',
  '4. close': '175.5300',
  '5. volume': '17676'},
 '2023-08-21 16:30:00': {'1. open': '175.5800',
  '2. high': '175.8400',
  '3. low': '175.5400',
  '4. close': '175.5750',
  '5. volume': '1192356'},
 '2023-08-21 16:15:00': {'1. open': '175.8400',
  '2. high': '175.8400',
  '3. low': '173.0000',
  '4. close': '175.6200',
  '5. volume': '18658'},
 '2023-08-21 16:00:00': {'1. open': '175.8400',
  '2. high': '175.8610',
  '3. low': '175.6100',
  '4. close': '175.6100',
  '5. volume': '17944801'},
 '2023-08-21 15:45:00': {'1. open': '176.0700',
  '2. high': '176.1000',
  '3. low': '175.6980',
  '4. close': '175.8000',
  '5. volume': '3140930'},
 '2023-08-21 15:30:00': {'1. open': '175.7400',
  '2. high': '176.1300',
  '3. low': '175.6400',
  '4. close': '176.0700',
  '5. volume': '1495911'},
 '2023-08-21 15:15:00': {'1. open': '175.8700',
  '2. high': '175.9780',
  '3. low': '175.7100',
  '4. close': '175.7400',
  '5. volume': '1041048'},
 '2023-08-21 15:00:00': {'1. open': '175.6600',
  '2. high': '175.9100',
  '3. low': '175.6500',
  '4. close': '175.8650',
  '5. volume': '1146716'},
 '2023-08-21 14:45:00': {'1. open': '175.8300',
  '2. high': '175.9100',
  '3. low': '175.6320',
  '4. close': '175.6550',
  '5. volume': '908499'},
 '2023-08-21 14:30:00': {'1. open': '175.5500',
  '2. high': '175.8600',
  '3. low': '175.4730',
  '4. close': '175.8300',
  '5. volume': '817214'},
 '2023-08-21 14:15:00': {'1. open': '175.4600',
  '2. high': '175.7500',
  '3. low': '175.4330',
  '4. close': '175.5400',
  '5. volume': '855663'},
 '2023-08-21 14:00:00': {'1. open': '175.2500',
  '2. high': '175.4800',
  '3. low': '175.1200',
  '4. close': '175.4500',
  '5. volume': '715640'},
 '2023-08-21 13:45:00': {'1. open': '175.5800',
  '2. high': '175.6100',
  '3. low': '175.1800',
  '4. close': '175.2500',
  '5. volume': '940297'},
 '2023-08-21 13:30:00': {'1. open': '175.3570',
  '2. high': '175.5900',
  '3. low': '175.2900',
  '4. close': '175.5890',
  '5. volume': '882441'},
 '2023-08-21 13:15:00': {'1. open': '174.8900',
  '2. high': '175.5250',
  '3. low': '174.8700',
  '4. close': '175.3600',
  '5. volume': '1274102'},
 '2023-08-21 13:00:00': {'1. open': '175.0800',
  '2. high': '175.1700',
  '3. low': '174.8600',
  '4. close': '174.8950',
  '5. volume': '1082194'},
 '2023-08-21 12:45:00': {'1. open': '174.9290',
  '2. high': '175.1400',
  '3. low': '174.8840',
  '4. close': '175.0730',
  '5. volume': '1061692'},
 '2023-08-21 12:30:00': {'1. open': '174.7800',
  '2. high': '175.0100',
  '3. low': '174.6800',
  '4. close': '174.9210',
  '5. volume': '914569'},
 '2023-08-21 12:15:00': {'1. open': '174.4250',
  '2. high': '174.8200',
  '3. low': '174.4250',
  '4. close': '174.7750',
  '5. volume': '1132934'},
 '2023-08-21 12:00:00': {'1. open': '174.1400',
  '2. high': '174.4600',
  '3. low': '174.0500',
  '4. close': '174.4200',
  '5. volume': '782591'},
 '2023-08-21 11:45:00': {'1. open': '173.9450',
  '2. high': '174.2300',
  '3. low': '173.8600',
  '4. close': '174.1500',
  '5. volume': '938017'},
 '2023-08-21 11:30:00': {'1. open': '173.9900',
  '2. high': '174.2400',
  '3. low': '173.9100',
  '4. close': '173.9450',
  '5. volume': '926207'},
 '2023-08-21 11:15:00': {'1. open': '173.9800',
  '2. high': '174.0610',
  '3. low': '173.7350',
  '4. close': '173.9900',
  '5. volume': '1057694'},
 '2023-08-21 11:00:00': {'1. open': '174.2400',
  '2. high': '174.4700',
  '3. low': '173.9700',
  '4. close': '173.9850',
  '5. volume': '1440912'}}

In [24]:
#store data into a DataFrame
df_apple1 = pd.DataFrame(apple1).transpose().reset_index() # reset_index ensures that the index goes 0, 1, 2, 3... 
df_apple1.head(10)

                 index   1. open   2. high    3. low  4. close 5. volume
0  2023-08-22 19:45:00  177.0800  177.0800  177.0000  177.0050     10519
1  2023-08-22 19:30:00  177.0900  177.1500  177.0300  177.0700      3314
2  2023-08-22 19:15:00  177.0600  177.1200  177.0400  177.0950      1646
3  2023-08-22 19:00:00  177.0950  177.1600  177.0300  177.0700      1110
4  2023-08-22 18:45:00  177.1750  177.1900  177.0950  177.1000      8157
5  2023-08-22 18:30:00  177.2200  177.2500  177.1600  177.1750      2638
6  2023-08-22 18:15:00  177.1900  177.2500  177.1500  177.2350     17448
7  2023-08-22 18:00:00  177.0600  178.9670  177.0500  177.1800      4449
8  2023-08-22 17:45:00  177.0600  178.9670  177.0300  177.0700      3658
9  2023-08-22 17:30:00  177.1200  177.1500  177.0400  177.0700      4533

In [29]:
#Bring in data in DataFrame format
ts2 = TimeSeries(key = API_key, output_format="pandas")

In [33]:
# display new intraday stock data
ts2.get_intraday("AAPL")

(                     1. open  2. high   3. low  4. close  5. volume
 date
 2023-08-22 19:45:00  177.080  177.080  177.000   177.005    10519.0
 2023-08-22 19:30:00  177.090  177.150  177.030   177.070     3314.0
 2023-08-22 19:15:00  177.060  177.120  177.040   177.095     1646.0
 2023-08-22 19:00:00  177.095  177.160  177.030   177.070     1110.0
 2023-08-22 18:45:00  177.175  177.190  177.095   177.100     8157.0
 ...                      ...      ...      ...       ...        ...
 2023-08-21 12:00:00  174.140  174.460  174.050   174.420   782591.0
 2023-08-21 11:45:00  173.945  174.230  173.860   174.150   938017.0
 2023-08-21 11:30:00  173.990  174.240  173.910   173.945   926207.0
 2023-08-21 11:15:00  173.980  174.061  173.735   173.990  1057694.0
 2023-08-21 11:00:00  174.240  174.470  173.970   173.985  1440912.0

 [100 rows x 5 columns],
 {'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2023-08-22 19:45:00',
  '4. Interval': '15min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'})

In [34]:
#get full amount of intraday stock data for data and meta_data
df_apple2, meta_data = ts2.get_intraday("AAPL", outputsize="full")

In [35]:
#print meta_data
meta_data

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
 '2. Symbol': 'AAPL',
 '3. Last Refreshed': '2023-08-22 19:45:00',
 '4. Interval': '15min',
 '5. Output Size': 'Full size',
 '6. Time Zone': 'US/Eastern'}

In [36]:
#print data with reset index
df_apple2.reset_index()

                    date  1. open  2. high   3. low  4. close  5. volume
0    2023-08-22 19:45:00  177.080  177.080  177.000   177.005    10519.0
1    2023-08-22 19:30:00  177.090  177.150  177.030   177.070     3314.0
2    2023-08-22 19:15:00  177.060  177.120  177.040   177.095     1646.0
3    2023-08-22 19:00:00  177.095  177.160  177.030   177.070     1110.0
4    2023-08-22 18:45:00  177.175  177.190  177.095   177.100     8157.0
...                  ...      ...      ...      ...       ...        ...
1339 2023-07-25 05:00:00  193.300  193.311  193.189   193.279     5968.0
1340 2023-07-25 04:45:00  193.340  193.370  193.199   193.269     1996.0
1341 2023-07-25 04:30:00  193.390  193.420  193.179   193.339     4604.0
1342 2023-07-25 04:15:00  193.210  193.400  193.099   193.399     5990.0
1343 2023-07-25 04:00:00  193.390  193.420  193.099   193.249     8460.0

[1344 rows x 6 columns]